body{font-family:Arial;display:flex;justify-content:center;margin-top:70px;background:#f5f5f5;}
.container{background:white;padding:30px;width:300px;border-radius:10px;text-align:center;box-shadow:0 0 10px #ddd;}
input{width:90%;padding:10px;margin:10px;}
button{width:95%;padding:10px;background:blue;color:white;border:none;cursor:pointer;margin-top:10px;}
p{color:blue;cursor:pointer;margin-top:15px;}